<!DOCTYPE html>

<html lan=it xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<!-- logo -->
	<link rel=icon th:href="@{image/logoBianco.png}" >
	<title>Notte stellata</title>
	
	<!--reset css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--font preso da google-->
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@700&display=swap" rel="stylesheet">	
	
	<link rel="stylesheet" th:href="@{/css/opera.css}" />
	<link th:href="@{/css/base.css}" rel="stylesheet">
</head>

<body>
	<section>
	<div th:if="${opera}" th:object="${opera}" >
	<img th:src="@{{image}(image=${opera.file})}" width="700px" height="500px"
			hspace="15px" vspace="15px" align="left" /> 
		<section id="paragrafo">
			<p>
			<h1 class="titolo" th:if="${titolo}">Notte stellata</h1> <div th:text="*{anno}"> 1889 </div>
			<div class="descr">
				<a th:each="artista : ${artisti}" href="artista.html" 
				   th:href="@{'/artista' + '/' + ${artista.id}}" 
				   th:text="${artista.nome} + ' ' + ${artista.cognome}" th:style="'color:black'"> Vincent van Gogh </a>
			</div>
			<p th:text="*{descrizione}"> </p>
		</section>
	</section>
	</div>
	
	<div th:unless="${opera}">Non esiste questa opera</div>
	<form th:action="@{'/admin/eliminaOpera' + '/' + ${id}}" method="POST">
		<span><button type="submit" class="pulsante2">Elimina Opera</button></span>
	</form>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>